body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: aqua;
}


.titulo{
  text-align: center;
  font-family: cursive;
color:black;
}

.tex{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: darkblue;
}

.img{
text-align: center;
}
